# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build artifacts
*.egg-info/
dist/
build/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/